.navigationList li:hover {
  /* decoration-amber-600 underline-offset-[7px] hover:underline; */
  text-decoration: underline;
  text-decoration-color: #82181a;
  text-underline-offset: 7px;
}
.navigationList {
  display: flex;
  gap: 0 32px;
}


.header.dark {
    background-color: rgb(59, 25, 90);
    color: aquamarine;
}

.header {
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #886610; /* معادل bg-amber-400 */
  padding-left: 48px; 
  padding-right: 48px;
  font-size: 18px;
  font-weight: 600; /* معادل font-semibold */
  color: #3f0606; /* معادل text-red-900 */
}
/* fixed top-0 z-50 flex h-12 w-full items-center justify-between bg-amber-400 px-12 text-lg font-semibold text-red-900 */
