@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Styles for About Page and Home Page */
.wrapper {
  @apply px-8 pb-10 pt-16 transition duration-1000 ease-out sm:text-justify bg-gray-50 text-gray-700;
}

.darkWrapper {
  @apply bg-gray-700 text-gray-50;
}

.title {
  @apply mb-4 text-2xl font-bold;
}

.text {
  @apply leading-5;
}
